<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep Internetowy</title>
</head>
<body>
    <button onclick="window.location.href='/login'">Zaloguj się</button>
    <button onclick="window.location.href='/logout'">wyloguj się</button>
    <h1>Sklep Internetowy</h1>
    <button onclick="window.location.href='/add-new-product'">Dodaj produkt</button>

    <h2>Lista produktów</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <strong><%= product.name %></strong><br>
                Cena: <%= product.price %> PLN<br>
                <a href="/product/<%= product.id %>" class="btn btn-primary">Zobacz szczegóły</a>
            </li>
        <% }) %>
    </ul>

</body>
</html>
