<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj Nowy Produkt</title>
</head>
<body>
    <div>
        <h2><%= product.name %></h2>
        <p><strong>Cena:</strong> <%= product.price %> PLN</p>
        <p><strong>Opis:</strong> <%= product.description %></p>
    </div>

    <!-- Link do powrotu na stronę główną -->
    <a href="/">Powrót na stronę główną</a>

</body>
</html>
