<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
    <title>Logowanie</title>
</head>
<body>
    <!-- pozniej mozemy dodac tez maila ale to na koncu ewentualnie bo nw czy jest sens-->
    <form action="/login" method="POST">
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Log in</button>
        <% if ( locals.message ) { %>
            <div class='message'>
            <%= locals.message %>
            </div>
        <% } %>
    </form>
    <!-- Link do powrotu na stronę główną -->
    <a href="/">Back</a>
</body>
</html>
