body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    background-image: url('res/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
    text-align: center;
    
}

.custom-column {
    line-height: 1.8;
    background-color: #DDDFC9;
    padding-top: 20px;
    padding-bottom: 20px;
}

button i {
    font-size: 2rem;
    color: #000000;
}